        <div class="col-md-3">
            <p class="lead">Spirit Of Scotland</p>
            <div class="list-group">
                <li class="list-group-item active">Info</li>
                <li class="list-group-item"><a href="/locations/<%= location._id %>/products/:<%location.locationType%>"> Products</a></li>
                <li class="list-group-item">Media</li>
            </div>
        </div>