<% include partials/header %>
 <header class="home-img">
  </header>
  <div class="container-fluid">
  
   <h1>Spirit Of Scotland</h1>

    <p>Welcome to our collections of</p>
<ul>
 <li><a href="/locations/distilleries"><img class="ls-icon" src="/assets/still.png"><p>Distilleries</p></a></li>
 <li><a href=""><img class="ls-icon" src="/assets/still.png"><p>Breweries</p></a></li>
 <li><a href=""><img class="ls-icon" src="/assets/still.png"><p>Restaurants</p></a></li>
 <li><a href=""><img class="ls-icon" src="/assets/still.png"><p>Food & Produce</p></a></li>
 <li><a href=""><img class="ls-icon" src="/assets/still.png"><p>Accomodation</p></a></li>
</ul>
    

 </div>
<% include partials/footer %>